extends layouts/main
block vars
  - var description = 'Поиск поставщиков товаров в Турции для доставки в Россию. NETLIVERY  - это богатый опыт работы в Турции и имеем связи с многими поставщиками в различных отраслях. Мы знаем, как проводить переговоры, выбирать лучшие предложения и гарантировать, что вы получаете качественные товары по конкурентоспособным ценам.';
  - var keywords;
  - var ogtitle;
  - var ogtype;
  - var ogurl;
  - var ogimg;
block title
  | Поиск поставщиков в Турции – купить товары за границей, доставка товаров из за рубежа | NETLIVERY
block main
  include includes/popup
  .wrapper
    .content
        include includes/header
        .hero.hero--bg.hero--country 
          .container
            .hero__wrap 
              .hero__col
                h2 Доставка товаров под ключ
                br
                h2.hero__title.title Найдем поставщика в Турции
                .hero__btn-wrap 
                  a(href="#").btn.consultation-js Получить консультацию 
             
              .hero__col 
                .hero__img 
                  img( loading="lazy" src="images/dist/hero7.webp", alt="") 

              .hero__bg-map 
                img(loading="lazy" src="images/dist/map.webp", alt="")
        
        .gradient-section.gradient-section--products(data-aos="fade-up" style="background-image: url('images/dist/section-bg1.webp')")
          .container 
            .gradient-section__wrap 
              .gradient-section__col
                h2.title.title--light Покупать вместе с Айзен Логистика - выгодно!
                .gradient-section__subtitle Стоимость товаров в США на порядок ниже, чем в России.
                p Закупка товаров в итернет-магазинах производятся в долларах. Актуальный курс уточняйте у менеджера на момент в покупки 

              .gradient-section__col 
                .gradient-section__item-wrap.products-js
                  mixin item(img, name, price1,price2) 
                    .gradient-section__item 
                      .gradient-section__item-img
                        img( loading="lazy" src="images/dist/product"+img+".webp", alt="")
                      .gradient-section__item-name=name
                      if price1
                        .gradient-section__item-price=price1
                      else  
                      .gradient-section__item-price.gradient-section__item-price--modify=price2
                  +item('5', 'Louis Vuitton', '','Оптом: от 50$')
                  +item('6','Adidas','','Оптом: от 20$')
                  +item('7','Nike Air Force','','Оптом: от 10$')
                  +item('5', 'Louis Vuitton', '','Оптом: от 50$')
                  +item('6','Adidas','','Оптом: от 20$')
                  +item('7','Nike Air Force','','Оптом: от 10$')
        
        .container.subtitle
          br
          p Первым шагом в нашем процессе поиска поставщиков является определение ваших потребностей и требований. Мы будем работать с вами, чтобы понять, какие товары вы ищете, и какие параметры они должны иметь. На основе этой информации мы начнем поиск поставщиков, которые могут соответствовать вашим требованиям.
          br
          p Один из основных преимуществ работы с нами заключается в том, что мы имеем богатый опыт работы в Турции и имеем связи с многими поставщиками в различных отраслях. Мы знаем, как проводить переговоры, выбирать лучшие предложения и гарантировать, что вы получаете качественные товары по конкурентоспособным ценам.
          br
          p Мы также предлагаем услуги по ведению переговоров и составлению спецификаций товаров. Если вы не уверены, какие товары вам нужны, мы можем помочь определить правильный состав товаров для вашего бизнеса.
          br
          p Кроме того, мы можем организовать доставку товаров из Турции в любую точку мира. Мы работаем только с надежными и проверенными транспортными компаниями, чтобы гарантировать быструю и безопасную доставку ваших товаров.
          br
          p Наша команда также обладает профессиональными навыками в области консультирования и организации транспортных процессов. Мы можем помочь вам с любыми вопросами, связанными с поставками товаров, включая таможенные процедуры, налоги и таможенные пошлины.
          br
          p Если нужен надежный поставщик в Турции, вы можете положиться на наш опыт и профессиональный подход. Мы гарантируем высокое качество услуг, конкурентные цены и быструю доставку товаров. 

        include includes/advantages
        
        .gradient-section(data-aos="fade-up" style="background-image: url('images/dist/section-bg3.webp')")
          .container 
            .gradient-section__wrap 
              .gradient-section__col
                h2.title.title--light Товары и услуги
                .gradient-section__count-wrapper
                  .gradient-section__count-wrap.gradient-section__count-wrap--single
                    h3 Товары
                    each item in['Товары народного потребления <br> (одежда, обувь, текстиль, быт)','Бытовая техника','Печатное оборудование','Оборудование (для производства <br> продуктов питания)','Производство мебели и деревообработка','Материалы и компоненты для производства <br> товаров гражданского назначения']
                      .gradient-section__count-item
                        .gradient-section__count-item-count
                        .gradient-section__count-item-title!=item

                  .gradient-section__count-wrap.gradient-section__count-wrap--single
                    h3 Услуги
                    each item in['Логистика (международные <br> грузоперевозки);','Консалтинг в области ВЭД;','Сертификация']
                      .gradient-section__count-item
                        .gradient-section__count-item-count
                        .gradient-section__count-item-title!=item

              .gradient-section__col
                .gradient-section__img.gradient-section__img--bg 
                  img( loading="lazy" src="images/dist/flat3.webp", alt="")
        
        include includes/steps2    

        .gradient-section(data-aos="fade-up" style="background-image: url('images/dist/section-bg3.webp')")
          .container 
            .gradient-section__wrap 
              .gradient-section__col
                h2.title.title--light О компании
                p Поставки товаров под ключ, это сервис включающий в себя транспортно-экспедиторские а так же консалтинговые услуги. Вам не потребуется расширять свой штат сотрудников для организации поставки своими силами, заниматься оформлением разрешительной документации, контролировать каждый этап поставки.
                br
                p Поиск производителей, согласования сделок, организация логических процессов - все это мы возьмём на себя. 

                

              .gradient-section__col 
                .gradient-section__img.gradient-section__img--bg
                  img( loading="lazy" src="images/dist/flat1.webp", alt="")
        
        .packaging.section(data-aos="fade-up")
          .container
            h2.title Стоимость отправки грузов 
            .subtitle
              br
              p Отправка грузов из Турции в Россию является одним из важнейших звеньев в логистической цепочке между двумя странами. 
              p При этом, стоимость отправки груза напрямую зависит от нескольких факторов, включая вес груза, тип транспорта и скорость доставки.
              br
              p Если груз не является крупногабаритным, то отправка по автотранспорту является наиболее оптимальным вариантом. Стоимость отправки грузов из Турции в Россию по авто тарифу начинается от $4 за килограмм. Однако, цена может варьироваться в зависимости от ряда факторов, таких как:               
              <br>

              ul 
                li 
                  span Вес груза: 
                  | Чем больше вес груза, тем выгоднее будет цена за килограмм. <br> При этом, при большом объеме груза, может быть выгоднее воспользоваться морским транспортом.
                li 
                  span Тип транспорта: 
                  | Отправка грузов из Турции в Россию возможна как на грузовиках, так и на автопоездах. <br> Использование последних может быть более дорогим, однако позволяет перевозить большее количество груза.
                li 
                  span Скорость доставки: 
                  | Чем быстрее нужно доставить груз, тем дороже будет стоимость отправки. <br> Однако, при срочной доставке это может быть оправдано.
              br
              p Одним из ключевых факторов, влияющих на стоимость отправки грузов из Турции в Россию, является выбор надежной логистической компании, которая предоставит весь спектр услуг по организации перевозки, оформлению необходимых документов и таможенному оформлению.
            
            .packaging__delivery
              .packaging__delivery-kind
                .packaging__delivery-kind-top
                  .packaging__delivery-kind-title Авто тариф
                  .packaging__delivery-kind-price
                    | от $4 за кг
                p Забор заказа на рынке “Садовод” в Москве  
                .packaging__delivery-kind-bottom
                  .packaging__delivery-kind-desc
                    ul
                      li Вес одного мешка с товарами - 60 кг максимум.
                      li +$5 за каждый мешок
                  .packaging__delivery-kind-icon
                    img( loading="lazy" src="images/dist/shipping.webp", alt="")
                      
              .packaging__delivery-kind
                .packaging__delivery-kind-top
                  .packaging__delivery-kind-title Авиа тариф
                  .packaging__delivery-kind-price
                    | от $8 за кг
                p Забор заказа на рынке “Садовод” в Москве
                .packaging__delivery-kind-bottom
                  .packaging__delivery-kind-desc
                    
                    ul
                      li Вес одного мешка с товарами - 60 кг максимум..
                      li +$5 за каждый мешок
                  .packaging__delivery-kind-icon
                    img( loading="lazy" src="images/dist/avia.webp", alt="")

        include includes/faq
        include includes/order3
        
        
        .seo
          .container 
            .rotare-elem-wrap
              .rotare-elem
                img( loading="lazy" src="images/dist/rotare-elem.webp", alt="")
            .seo__wrap      
              .seo__text
                | Поиск поставщиков товаров в Турции для доставки в Россию. 
                | NETLIVERY  - это богатый опыт работы в Турции и имеем связи с многими поставщиками в различных отраслях. Мы знаем, как проводить переговоры, выбирать лучшие предложения и гарантировать, что вы получаете качественные товары по конкурентоспособным ценам.

              .seo__open-txt 
                span Узнать больше
              .seo__hide-txt 
                span Скрыть

        

    include includes/footer


  include includes/scripts 